<h1>家計簿</h1>

<%= form_tag("accountbooks/aggregate", method: "post") do %>
    <%= text_field_tag(:date, Date.today.strftime("%Y-%m")) %>
    <%= submit_tag("集計") %>
<% end %>
<%= link_to '追加', new_accountbook_path %>
<hr>
<h2>データ</h2>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>金額</th>
      <th>支払者</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @accountbooks.each do |accountbook| %>
      <tr>
        <td><%= accountbook.date %></td>
        <td><%= accountbook.amount %></td>
        <td><%= accountbook.person %></td>
        <td><%= accountbook.content %></td>
        <td><%= link_to '表示', accountbook %></td>
        <td><%= link_to '編集', edit_accountbook_path(accountbook) %></td>
        <td><%= link_to '削除', accountbook, method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
